body {font-family: Arial;}

body {
  font-family:Helvetica,Arial,sans-serif;
  background-color: #36393f;
  color: #fff;
}

p {
  font-size: 15px;
}

.maintitle {
  text-align: center;
  font: normal normal bold 36px/3 "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: rgba(175,149,0,1);
  letter-spacing: 4px;
  text-shadow: 0 0 7px rgba(255,255,86,0.7);
  margin: 20px;
}

.main {
  padding-left: 15%;
  padding-bottom:7%;
}

.contentCentered {
    text-align: center;
}

.contentLeft {
    text-align: left;
}

.elementInLine {
    display:inline;
}

button::-moz-focus-inner {
  border: 0;
}

#summonerID{
  visibility:hidden;
}

#summonerIcon{
  padding-top: -5%;
}

.iconPic{
  width: 70px;
  height:auto;
}

.verticalCenter {
     vertical-align: middle;
}

.searchBarContainer {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 70px;
}

.error {
    color: red;
}
