.masteries td, .masteries th, .masteries tr{
    border: none;
}

.masteryLv1 {
    width: 60%;
    border-radius: 100%;
}

.masteryLv2 {
    width: 50%;
    border-radius: 70%;
}

.leftMastery {
    text-align: right;
    vertical-align: bottom;
    width: 30%;
}

.middleMastery {
    text-align: center;
    vertical-align: bottom;
    width: 30%;
}

.rightMastery {
    text-align: left;
    vertical-align: bottom;
    width: 30%;
}

.allMastery, .allMastery tr, .allMastery td{
    border: 2px solid #42454D;
    margin-left:auto;
    margin-right:auto;
}

.bestMastery, .bestMastery tr, .bestMastery td{
    margin-left:auto;
    margin-right:auto;
}

.masteryIcon {
    width: 5%;
}

.masteryIcon img {
    width: 100%;
}

.masteryName {

}

.masteryLevel {
    width: 5%;
}

.masteryPoint {
    width: 10%;
}

.masteryLevelPic{
    width: 95%;
}

.chestPic{
    width : 70px;
    height: auto;
}

#firstBest {
    border: 3px solid #FFD700;
}

#secondBest {
    border: 3px solid #C0C0C0;
}

#thirdBest {
    border: 3px solid #cd7f32;
}
