.bestMastery {
    border: none;
}

.bestMastery th{
    border: none;
}

.bestMastery tr{
    border: none;
}

.masteryLv1 {
    width: 60%;
    border-radius: 60%;
}

.masteryLv2 {
    width: 50%;
    border-radius: 60%;
}

.leftMastery {
    text-align: right;
    vertical-align: bottom;
    width: 30%;
}

.middleMastery {
    text-align: center;
    vertical-align: bottom;
    width: 30%;
}

.rightMastery {
    text-align: left;
    vertical-align: bottom;
    width: 30%;
}
