.summonerTable, .summonerTable tr, .summonerTable td {
    border: none;
}

.summonerTable #summonerIconHolder {
    width: 20%;
}

#summonerNameHolder {
    height: 3%;
}

.summonerPic {
    width: 90%;
    border-radius: 50%;
}

.summonerRank {
    width: 100px;
    border-radius: 20%;
}
