/* Style the search box inside the tabcontent */
.searchBar {
  float: center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.searchBar {
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tabcontent button {
  display:inline;
  float: center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

ul.menuBar {
	background: #42454D;
	list-style: none;
	/* contain the list items */
	overflow: hidden;

	/*margin: 0 auto;
	display: table;*/ /* ul.menuBar will behave like a table now */

	text-align: center;
}

ul.menuBar li {
	/* float: left; */
	display: inline-block;
}

ul.menuBar li button {
	padding: 5px 10px;
	background: #000;
	color: #fff;

	/*float: left;*/
	/* some height woul.menuBard be nice */
	line-height: 3em;
	/* adjusting height */
	display: block; /* or inline-block */
    background-color: inherit;
    color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

ul.menuBar li a:hover {
	background: #e4e4e4;
	color: #333;
}
