.mainTable {
  width: 90%;
  padding-left: 10%;
}

.subTable{
  width: 100%;
  border: 1px solid black;
}

.redTeam th{
  background-color: #ee0000;
  height: 40px;
  border: 1px solid black;
  color: white;
}

.blueTeam th{
  background-color: #0000ee;
  height: 40px;
  border: 1px solid black;
  color: white;
}

.blueTeam td, .redTeam td{
    border-left: none;
    border-right: none;
}

.blueTeam tr:nth-child(odd) {
  background-color: #000088;
}

.blueTeam{
  background-color: #0000aa;
}

.redTeam tr:nth-child(even) {
  background-color: #880000;
}

.redTeam{
  background-color: #aa0000;
}

#blueWon, #redWon{
    width:50px;
}

#blueAchivementRaw th, tr, td{
    background-color: none;
    border: none;
}

#redAchivementRaw th, tr, td{
    background-color: none;
    border: none;
}

.championColumn{
  width: 80px;
}

.nameColumn{
  width: auto;
}

.spellsColumn{
  width: 50px;
}

.runesColumn{
  width : 50px;
}

.itemsColumn{
  width: 165px;
}

.kdaColumn{
    width: 10%;
}

.minionsColumn{
    width: 10%;
}

.teamChampionPic{
  width:70px;
  height: auto;
}

.teams {
  table-layout: auto;
}

.SummonerSpell{
  height: 40px;
  width: auto;
}

.items{
  height: 40px;
  width: auto;
}

.runes{
  height: 40px;
  width: auto;
}

.crownPic{
    width: 100%;
    height: auto;
}

.nashorPic{
    border-radius: 50%;
    width: auto;
    height: 100%;
}

.heraldPic{
    border-radius: 50%;
    width: auto;
    height: 100%;
}

.inhibPic{
    border-radius: 50%;
    width: auto;
    height: 100%;
}

.towerPic{
    border-radius: 50%;
    width: auto;
    height: 100%;
}

.killPic{
    border-radius: 50%;
    width: auto;
    height: 100%;
}

.drakePic{
    border-radius: 50%;
    height: 100%;
    width: auto;
}
